# generated
build/
config.sweep_*.json
obj_dir/

# xsim
xsim.dir/
*.wdb
*.jou
*.pb
*.log
xsim_*.backup.*
results.xml

# waves
*.vcd
*.fst
*.fst.hier

# python
.venv/
__pycache__/

# editor
.*.swp
.vscode/
.cursor/

# local / generated
verilog_sv2v/*
notes/
runs/

scripts/pinreport.py
md/