# generated
build/
runs/
obj_dir/

# xsim
xsim.dir/
*.wdb
*.jou
*.pb
*.log
xsim_*.backup.*
synth/*.json
synth/*.rpt
synth/*.v
results.xml

# waves
*.vcd
*.fst
*.fst.hier

# python
.venv/
__pycache__/

# editor
.*.swp
.vscode/

docs/
verilog_sv2v/
AMBA4_AXI4_Protocol_Specificiation.pdf
old/
notes/