# generated
build/
config.sweep_*.json

obj_dir/

# xsim
xsim.dir/
*.wdb
*.jou
*.pb
*.log
xsim_*.backup.*
synth/*.json
synth/*.rpt
synth/*.v
results.xml

# waves
*.vcd
*.fst
*.fst.hier

# python
.venv/
__pycache__/

# editor
.*.swp
.vscode/

docs/
verilog_sv2v/
notes/
runs/