@bus_major

#W
i_s_axil_aw.*
o_s_axil_awready
i_s_axil_w.*
o_s_axil_wready
o_s_axil_b.*
i_s_axil_bready
i_s_axil_ar.*
o_s_axil_arready
o_s_axil_r.*
i_s_axil_rready

#E
o_m_axi_ar.*
i_m_axi_arready
i_m_axi_r.*
o_m_axi_rready

#S
o_m_axi_aw.*
i_m_axi_awready
clk
rstn
o_m_axi_w.*
i_m_axi_wready
i_m_axi_b.*
o_m_axi_bready
