@bus_major
@min_distance=3

#W
i_s_axil_aw.*
o_s_axil_awready
i_s_axil_w.*
o_s_axil_wready
o_s_axil_b.*
i_s_axil_bready
i_s_axil_ar.*
o_s_axil_arready
o_s_axil_r.*
i_s_axil_rready
$42

#E
o_m_axi_ar.*
i_m_axi_arready
o_m_axi_rready
i_m_axi_rvalid
i_m_axi_rlast
i_m_axi_rresp.*
i_m_axi_rdata.*
$28

#S
o_m_axi_aw.*
i_m_axi_awready
i_m_axi_b.*
o_m_axi_bready
$4
clk
$2
rstn
$4
o_m_axi_w.*
i_m_axi_wready
